<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.capstone.repository.ItemMapper">

	<insert id="saveitem">
      insert into item(shopidx, itemname, itemnotice, cost, salecost, quantity, image, category, starttime, endtime) 
      values(#{shopidx},#{itemname}, #{itemnotice}, #{cost},#{salecost},#{quantity},#{image},#{category}, #{starttime}, #{endtime});
   </insert>

	<select id="findByShopIdx_itemname" resultType="item">
		select * from item where shopidx = #{shopidx} and itemname = #{itemname};
	</select>

	<select id = "getItems" resultType = "Item">
		select * 
		from item 
		where shopidx = #{shopidx};
	</select>
	
	<delete id="deleteItemEndtime" >
	    DELETE FROM item
	    WHERE endtime &lt;= #{time};
	</delete>
	

	<insert id="pushAlarm">
        insert into alarm (memberidx, shopidx,regisdate)
		select b.memberidx, b.shopidx,NOW() 
		from bookmarks b
		where b.shopidx = #{shopidx};
   </insert>
   
   <delete id="deleteTimeoutAlarm">
        select *
		from alarm
		where TIMESTAMPDIFF(hour, regisdate, NOW()) >= 24;
   </delete>
	
	<select id = "getAlarm" resultType="HashMap">
		Select distinct shopidx
		from alarm
		where memberidx = #{memberidx};
	</select>

</mapper>