<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.capstone.repository.MemberMapper">
   
	<insert id="bookmarkRegistraion">
		insert into bookmarks(memberidx, shopidx) values( #{memberidx}, #{shopidx} );
	</insert>
	
	<select id ="getMyBookmarkedShop" resultType ="Shop">
		select * 
		from shop
		where shopidx = (
			select shopidx 
			from bookmarks 
			where memberidx = #{memberidx} 
		)
	</select>
	

</mapper>