<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.capstone.repository.ShopMapper">
    

	<select id="findByAddress" resultType ="Shop">
		select * from shop where shopaddress = #{address} Limit 1;
	</select>
	
	<insert id="saveShop">
      insert into shop(shopname, shopaddress, owneridx	,shoptel, shopwebsite, imagefilename, promotionText, registrationDate, longitude, latitude) values( #{shopName}, #{shopAddress}, #{ownerIdx},#{shopTel}, #{shopWebsite}, #{imageFilename}, #{promotionText}, #{registrationDate}, #{longitude}, #{latitude});
	</insert>
	
	<select id="getShopIdx">
		select shopidx from shop where shopname = #{shopName} and shopaddress = #{shopAddress};
	</select>
	
	<select id = "getShops" resultType = "Shop">
		select distinct s.*
		from shop s
		inner join item i ON s.shopidx = i.shopidx;
	</select>
	
	<select id = "getShopByMember" resultType = "hashmap">
		select * 
		from shop
		where owneridx = #{memberidx};
	</select>
</mapper>